body {
    background-color: #4f6f52;
    text-align: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: fit-content;
    font-size: 32px;
    color: white;
}

.bilde {
    margin-top: 120px;
    width: 250px;
    height: 250px;
}

.teksts1 {   
    font-size: 18px;
    color: #ffffff;
    margin-right: 50px;
    margin-top: 40px;
    max-width: 500px;
}