body{
    background-color: #4f6f52ff;
    text-align: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 1920px;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.square {
    width: 80px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left, .right {
    margin: 0 10px; 
    display: inline-block;
    text-align: center;
    background-color: white;
    color: black;
}
.gs {
    text-align: center;
}
.main{
    margin: center;
}
.info-section {
    font-size: 19px;
    text-align: center;
    width: 50%;
 margin-top: 50px;   
 margin: auto;
}
.gs2 {
    text-align: center;
}
.bildeatbalsts {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-right: 200px;
}
.nvideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 265px;
    
}
.nelt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 19px;
}
.video {
    margin-top: 265px;
}